<!--
  Generated template for the MyjobDetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-title>Job Detail</ion-title> -->
    <img src="assets/imgs/ihouse_logo.png" width="50%" alt="">
  </ion-navbar>

</ion-header>
<ion-content padding>

  <div class="container" padding>
    <ion-item no-padding padding-top>
      <div align="center">
        <h1>Mr. Sergio Miranda</h1>
        <p>This was your job</p>
      </div>
    </ion-item>
    <ion-item lines no-padding>
        <ion-grid class="header-table-service">
          <ion-row>
            <ion-col col-2>
              <b>Code</b>
            </ion-col>
            <ion-col col-7>
              <b> Service</b>
            </ion-col>
            <ion-col col-3>
              <b>Price</b>
            </ion-col>
          </ion-row>
          <hr>
          <ion-row>
            <ion-col col-2>
              <p>{{myJob.id}}</p>
            </ion-col>
            <ion-col col-7>
              <p> {{myJob.nome}}</p>
            </ion-col>
            <ion-col col-3>
              <p>$ {{myJob.price}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>
    <br>
    <p>Total:</p>
    <ion-row class="total" padding>
      <div class="total-total">
        <b>${{myJob.price}}</b>
      </div>
    </ion-row>
    <br>
    <p>Paid with:</p>
    <ion-row class="paid" padding>      
      <div class="paid-mode">
        <b>PayPal</b>
      </div>
    </ion-row>

    

  </div>

</ion-content>
