<!--
  Generated template for the MensagensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-title>Messages</ion-title> -->
    <img src="assets/imgs/ihouse_logo.png" width="50%" alt="">
  </ion-navbar>

</ion-header>


<ion-content no-padding padding-left padding-right>
  <div class="body">
    <ion-item *ngIf="!mensagens">
        <h1>Please!</h1>
        <h3>No messages for you</h3>
    </ion-item>
    <ion-list *ngIf="mensagens">
      <ion-item *ngFor="let msg of mensagens" (click)="onVerMensagemCompleta(msg)">
        <h3>{{msg.title}}</h3>
        <p>{{msg.mensagem}}</p>
        <p><small>{{msg.data}}</small></p>
      </ion-item>
  
    </ion-list>
  </div>

</ion-content>
