<!--
  Generated template for the SearchJobsCatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-title>Search Jobs</ion-title> -->
    <img src="assets/imgs/ihouse_logo.png" width="50%" alt="">
  </ion-navbar>

</ion-header>


<ion-content no-padding padding-left padding-right>

  <div class="body" padding-left>
    <ion-list>
      <ion-grid no-padding>
          <ion-row no-padding>
            <div no-padding col-6 *ngFor="let cat of categorias">
              <button ion-item no-padding no-lines (click)="onSelectCategory(cat)" >
                <div align="center">
                  <div class="image" >
                    <img [src]="cat.img" alt="">
                  </div>
                  <h2>{{cat.categoria}}</h2>
                </div>    
              </button>
            </div>
          </ion-row>
      </ion-grid>
    </ion-list>
  </div>
  

</ion-content>
