<!--
  Generated template for the CategoriaServicosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-title>Select a category</ion-title> -->
    <img src="assets/imgs/ihouse_logo.png" width="50%" alt="">
  </ion-navbar>

</ion-header>


<ion-content no-padding padding-left padding-right>
  <div class="body" no-padding padding-left padding-right>
    <ion-list>
      <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col no-padding padding-right padding-left col-6 *ngFor="let cat of categorias">
              <button ion-item no-padding no-lines (click)="onSelectCategory(cat)" >
                <div align="center">
                  <ion-avatar >
                    <img [src]="cat.img" alt="">
                  </ion-avatar>
                  <h2>{{cat.categoria}}</h2>
                </div>    
              </button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>
