page-categoria-servicos {
    .content{
        background-color: color($colors, verde);
            
    
            .body{
                background-color: #fff;
                min-height: 90%;
                height: auto;
                .item{
                    background: transparent;
                }

            }
        .item{
            & ion-avatar{
                & img{
                    width: 120px;
                    height: 120px;
                }
            }

            h2{
                color: #333;
                font-weight: bold;
            }
        }   
    }

}
