page-cadastro-cliente {
    .content-md{
        background-color: color($colors, verde);
        color: #f6f6f6;

        .body{
            background-color: #f6f6f6;
            height: 35em;
            width: 91%;
            position: absolute;
            .item-md{
                background: transparent;
            }
    
            .input-md{
                border: solid 2px #f6f6f6;
                background-color: #fff;
                border-radius: 2em;
                text-align: center;
    
                .text-input-md{
                    text-align: center; 
                }
            }
        }        

        .buttons-footer{
            background-color: #fff;
            height: 5em;
            padding-top: 1em;
            position: relative;

            .button-md{
                border: 0;
            }
        }
    }
}
